/* line 3, ../sass/admin/reader_group.sass */
#content form p.access a {
  text-decoration: none;
}
/* line 5, ../sass/admin/reader_group.sass */
#content form p.access a.restricted {
  color: #a14242;
  font-weight: bold;
}
/* line 8, ../sass/admin/reader_group.sass */
#content form p.access a.unrestricted {
  color: #8de489;
}
/* line 10, ../sass/admin/reader_group.sass */
#content form p.access a:hover {
  color: white;
}

/* line 13, ../sass/admin/reader_group.sass */
#groups_popup {
  width: 300px;
}
/* line 15, ../sass/admin/reader_group.sass */
#groups_popup ul {
  padding-left: 0;
}
/* line 17, ../sass/admin/reader_group.sass */
#groups_popup ul ul {
  padding-left: 20px;
}
/* line 19, ../sass/admin/reader_group.sass */
#groups_popup label {
  display: inline;
}

/* line 25, ../sass/admin/reader_group.sass */
#content table#groups td.name {
  width: 35%;
}
/* line 27, ../sass/admin/reader_group.sass */
#content table#groups td.name span.notes {
  font-size: 80%;
  color: #929488;
  font-weight: lighter;
  line-height: 1.2;
  margin-top: 0.25em;
}
/* line 35, ../sass/admin/reader_group.sass */
#content table#groups tr.level_0 td.name a {
  font-size: 120%;
}
/* line 39, ../sass/admin/reader_group.sass */
#content table#groups tr.level_1 td.name a {
  font-size: 100%;
}
/* line 43, ../sass/admin/reader_group.sass */
#content table#groups tr.level_2 td.name a {
  font-size: 85%;
}
/* line 47, ../sass/admin/reader_group.sass */
#content table#import th {
  text-align: left;
}
/* line 49, ../sass/admin/reader_group.sass */
#content table#import td {
  padding: 2px;
}
/* line 52, ../sass/admin/reader_group.sass */
#content form#confirmation_form table {
  width: 90%;
}
/* line 55, ../sass/admin/reader_group.sass */
#content form#confirmation_form input.preview {
  border: 1px solid #929488;
  font-family: "Lucida Grande";
  font-size: 16px;
  padding: 3px;
  width: 95%;
}
/* line 61, ../sass/admin/reader_group.sass */
#content form#confirmation_form input.with_error {
  border: 1px solid #cc0000;
  color: #cc0000;
}
/* line 64, ../sass/admin/reader_group.sass */
#content form#confirmation_form tr.invite td input {
  background-color: #e2e1dc;
}
/* line 66, ../sass/admin/reader_group.sass */
#content form#confirmation_form p.buttons {
  margin-top: 10px;
}
/* line 69, ../sass/admin/reader_group.sass */
#content .form-area label.disabled {
  color: #929488;
}
/* line 71, ../sass/admin/reader_group.sass */
#content .form-area span.formnote {
  font-size: 80%;
  color: #929488;
}
/* line 74, ../sass/admin/reader_group.sass */
#content #group_pages {
  clear: left;
  width: 58%;
  float: left;
}
/* line 78, ../sass/admin/reader_group.sass */
#content #group_people {
  width: 35%;
  float: right;
}
/* line 81, ../sass/admin/reader_group.sass */
#content #group_messages {
  float: left;
  width: 98%;
}
/* line 84, ../sass/admin/reader_group.sass */
#content #group_messages ul {
  list-style: square;
  font-size: 85%;
  padding-left: 14px;
}
/* line 88, ../sass/admin/reader_group.sass */
#content div.stretcher {
  clear: left;
}
/* line 90, ../sass/admin/reader_group.sass */
#content table#group_pages td.page a {
  color: black;
  text-decoration: none;
}
/* line 93, ../sass/admin/reader_group.sass */
#content table#group_pages td.page a:hover {
  color: blue;
  text-decoration: underline;
}
/* line 96, ../sass/admin/reader_group.sass */
#content blockquote.messagepreview {
  border: 3px solid #999999;
  background-color: #eeeeee;
  margin: 0;
  padding: 20px;
  font-family: courier, monospace;
  font-size: 13px;
  line-height: 16px;
}
/* line 105, ../sass/admin/reader_group.sass */
#content .form-area p.description, #content .form-area p.invitation {
  margin-top: 10px;
}
/* line 107, ../sass/admin/reader_group.sass */
#content #footnotes {
  clear: both;
  margin-top: 50px;
}

/* line 111, ../sass/admin/reader_group.sass */
#group_pages ul {
  padding-left: 20px;
}
/* line 113, ../sass/admin/reader_group.sass */
#group_pages ul li {
  clear: left;
}

/* line 116, ../sass/admin/reader_group.sass */
#group_people ul {
  padding-left: 0;
}
/* line 118, ../sass/admin/reader_group.sass */
#group_people ul li {
  clear: left;
  font-size: 16px;
  line-height: 1.6;
  list-style: none;
  margin-top: 2px;
  font-family: "Lucida Grande";
}
/* line 125, ../sass/admin/reader_group.sass */
#group_people ul li .role {
  display: block;
  float: left;
  font-weight: normal;
  margin-left: 0.5em;
}
/* line 130, ../sass/admin/reader_group.sass */
#group_people ul li .role a {
  color: #999999;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: 0 3px;
  font-size: 60%;
  vertical-align: text-bottom;
}
/* line 137, ../sass/admin/reader_group.sass */
#group_people ul li .role a.waiting {
  color: #8c8d8e;
  padding-left: 20px;
  background-image: url(/images/admin/spinner.gif);
}
/* line 141, ../sass/admin/reader_group.sass */
#group_people ul li .role form {
  font-size: 60%;
}
/* line 143, ../sass/admin/reader_group.sass */
#group_people ul li .role form input.minibox {
  width: 60px;
  color: #666666;
}
/* line 146, ../sass/admin/reader_group.sass */
#group_people ul li .role form input, #group_people ul li .role form label {
  float: left;
  vertical-align: text-bottom;
}

/* line 150, ../sass/admin/reader_group.sass */
#group_pages ul li {
  font-size: 16px;
  list-style: none;
  line-height: 24px;
  margin-top: 2px;
  font-family: "Lucida Grande";
}

/*#group_people ul li a, #group_pages ul li a {
 *  text-decoration: none;
 *  font-weight: normal;
 *} */
/*#group_pages ul li.inherited a {
 *  color: #ccc;
 *  font-weight: normal;
 *}
 *
 *#group_people ul li.attached a, #group_pages ul li.attached a {
 *  color: #060;
 *  font-weight: bold;
 *} */
/* line 172, ../sass/admin/reader_group.sass */
.fake_checkbox {
  display: block;
  float: left;
  padding-left: 20px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: 0 3px;
  text-decoration: none;
  color: #cccccc;
  font-weight: normal;
  background-image: url(/images/admin/chk_off.png);
}
/* line 183, ../sass/admin/reader_group.sass */
.fake_checkbox input {
  position: absolute;
  left: -9999px;
}
/* line 186, ../sass/admin/reader_group.sass */
.fake_checkbox.checked {
  color: #5da454;
  background-image: url(/images/admin/chk_on.png);
}
/* line 189, ../sass/admin/reader_group.sass */
.fake_checkbox.inherited {
  color: #bfe4b9;
  background-image: url(/images/admin/chk_auto.png);
}
/* line 192, ../sass/admin/reader_group.sass */
.fake_checkbox.waiting {
  color: #8c8d8e;
  background-image: url(/images/admin/spinner.gif);
}
/* line 195, ../sass/admin/reader_group.sass */
.fake_checkbox.failed {
  color: #cc0000;
}

/* line 199, ../sass/admin/reader_group.sass */
span.group_actions img {
  opacity: 0.5;
}
/* line 201, ../sass/admin/reader_group.sass */
span.group_actions a img {
  opacity: 1;
}

/* line 205, ../sass/admin/reader_group.sass */
.box h3 {
  float: left;
  border: 0;
}
/* line 208, ../sass/admin/reader_group.sass */
.box p, .box ul {
  clear: both;
}
/* line 210, ../sass/admin/reader_group.sass */
.box .actions {
  float: right;
  margin-top: 10px;
}
/* line 213, ../sass/admin/reader_group.sass */
.box a.action, .box span.action.disabled {
  padding: 3px 4px;
  margin: 0 25px 0 1px;
}
/* line 216, ../sass/admin/reader_group.sass */
.box a.action img, .box span.action.disabled img {
  vertical-align: auto;
}
/* line 218, ../sass/admin/reader_group.sass */
.box a.action {
  color: black;
  text-decoration: none;
}
/* line 221, ../sass/admin/reader_group.sass */
.box a.action:hover {
  background: #eeeeee url('/images/admin/buttons_background.png?1374706962') repeat-x;
  border: 1px solid #a5c9df;
  margin: 0 24px 0 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
/* line 226, ../sass/admin/reader_group.sass */
.box a.action.selected {
  background: #c5e0f5;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e5f5ff), color-stop(100%, #c5e0ff));
  background-image: -webkit-linear-gradient(top, #e5f5ff, #c5e0ff);
  background-image: -moz-linear-gradient(top, #e5f5ff, #c5e0ff);
  background-image: -o-linear-gradient(top, #e5f5ff, #c5e0ff);
  background-image: -ms-linear-gradient(top, #e5f5ff, #c5e0ff);
  background-image: linear-gradient(top, #e5f5ff, #c5e0ff);
  border: 1px solid #a5c9df;
  margin: 0 24px 0 0;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -o-border-top-left-radius: 5px;
  -ms-border-top-left-radius: 5px;
  -khtml-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  -o-border-top-right-radius: 5px;
  -ms-border-top-right-radius: 5px;
  -khtml-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  -o-border-bottom-left-radius: 0;
  -ms-border-bottom-left-radius: 0;
  -khtml-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  -o-border-bottom-right-radius: 0;
  -ms-border-bottom-right-radius: 0;
  -khtml-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
}
/* line 233, ../sass/admin/reader_group.sass */
.box span.action.disabled {
  color: #cccccc;
}
/* line 235, ../sass/admin/reader_group.sass */
.box span.sent {
  color: #cccccc;
}

/* show and send page */
/* line 240, ../sass/admin/reader_group.sass */
div#preview {
  float: left;
  width: 65%;
  -moz-box-shadow: 0px 0px 5px #333333;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -o-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
  background-color: white;
}
/* line 245, ../sass/admin/reader_group.sass */
div#preview .message_header {
  padding: 10px;
  overflow: hidden;
  background-color: #eeeeee;
  color: #333333;
  font-size: 80%;
  line-height: 1.5;
}
/* line 252, ../sass/admin/reader_group.sass */
div#preview .message_header ul {
  margin: 0;
  padding: 6px 14px;
  list-style-type: none;
}
/* line 256, ../sass/admin/reader_group.sass */
div#preview .message_header ul li.subject {
  font-size: 1.6em;
  margin-top: 6px;
}
/* line 259, ../sass/admin/reader_group.sass */
div#preview .message_header ul li.mime-version, div#preview .message_header ul li.content-type {
  display: none;
}
/* line 262, ../sass/admin/reader_group.sass */
div#preview .message_body iframe.message_body {
  width: 99%;
  height: 520px;
  margin: 0;
  border: 0;
  overflow: auto;
}
/* line 269, ../sass/admin/reader_group.sass */
div#preview div.preview_controls {
  height: 24px;
}
/* line 271, ../sass/admin/reader_group.sass */
div#preview div.preview_controls p {
  margin: 2px 14px;
  text-align: right;
}
/* line 274, ../sass/admin/reader_group.sass */
div#preview div.preview_controls a {
  text-decoration: none;
  color: #cc0000;
}

/* line 278, ../sass/admin/reader_group.sass */
div#deliver {
  position: relative;
  float: left;
  width: 27%;
  margin-left: 2%;
}

/* edit pages */
/* line 286, ../sass/admin/reader_group.sass */
ul.help {
  list-style: square;
  color: #666666;
  font-size: 85%;
}
/* line 290, ../sass/admin/reader_group.sass */
ul.help code {
  color: #cc0000;
  font-size: 115%;
}

/* line 297, ../sass/admin/reader_group.sass */
#content form p textarea {
  width: 100%;
  height: 24em;
}

/* line 301, ../sass/admin/reader_group.sass */
table#pages.index td.access {
  font-size: 80%;
  font-size-color: #999999;
}
/* line 304, ../sass/admin/reader_group.sass */
table#pages.index td.access span.restricted {
  color: #cc0000;
}
