*.tmproj

._*

.DS_Store
doc/*
cache/*
db/csvs/*
shared/
tmp/*
config/database.yml
log/*

.livereload
.rvmrc
public/assets
public/attachments
public/executive_newsletters
public/images/design
.powrc

db/production_data.sql

db/remote_staging_data.sql
*.sql

config/backup.rb

db/app_backup/Dropbox.yml
post_attachments/*
