[submodule "vendor/extensions/submenu"]
  path = vendor/extensions/submenu
  url = git://github.com/gunn/radiant-submenu-extension.git
[submodule "vendor/plugins/country_select"]
  path = vendor/plugins/country_select
  url = git@github.com:gunn/country_select.git
