/*
Syntax error: Invalid CSS after "none": expected expression (e.g. 1px, bold), was ";"
        on line 299 of /Users/craig/development/nzffa/public/stylesheets/sass/reader.sass

294:   color: #c00
295:   font-size: 150%
296:   text-align: center
297: 
298: a.group_link
299:   text-decoration: none;
300: 
301: .group_tag
302:   padding: 2px 12px;
303:   border-radius: 3px;
304:   -moz-border-radius: 3px;

Backtrace:
/Users/craig/development/nzffa/public/stylesheets/sass/reader.sass:299
/Users/craig/.rvm/gems/ruby-1.8.7-p334@nzffa/gems/sass-3.1.15/rails/../lib/sass/../sass/scss/parser.rb:928:in `expected'
/Users/craig/.rvm/gems/ruby-1.8.7-p334@nzffa/gems/sass-3.1.15/rails/../lib/sass/../sass/script/lexer.rb:191:in `expected!'
/Users/craig/.rvm/gems/ruby-1.8.7-p334@nzffa/gems/sass-3.1.15/rails/../lib/sass/../sass/script/parser.rb:465:in `assert_done'
/Users/craig/.rvm/gems/ruby-1.8.7-p334@nzffa/gems/sass-3.1.15/rails/../lib/sass/../sass/script/parser.rb:50:in `parse'
/Users/craig/.rvm/gems/ruby-1.8.7-p334@nzffa/gems/sass-3.1.15/rails/../lib/sass/../sass/script/parser.rb:140:in `parse'
/Users/craig/.rvm/gems/ruby-1.8.7-p334@nzffa/gems/sass-3.1.15/rails/../lib/sass/../sass/script.rb:31:in `parse'
/Users/craig/.rvm/gems/ruby-1.8.7-p334@nzffa/gems/sass-3.1.15/rails/../lib/sass/../sass/engine.rb:829:in `parse_script'
/Users/craig/.rvm/gems/ruby-1.8.7-p334@nzffa/gems/sass-3.1.15/rails/../lib/sass/../sass/engine.rb:592:in `parse_property'
/Users/craig/.rvm/gems/ruby-1.8.7-p334@nzffa/gems/sass-3.1.15/rails/../lib/sass/../sass/engine.rb:581:in `parse_property_or_rule'
/Users/craig/.rvm/gems/ruby-1.8.7-p334@nzffa/gems/sass-3.1.15/rails/../lib/sass/../sass/engine.rb:562:in `parse_line'
/Users/craig/.rvm/gems/ruby-1.8.7-p334@nzffa/gems/sass-3.1.15/rails/../lib/sass/../sass/engine.rb:455:in `build_tree'
/Users/craig/.rvm/gems/ruby-1.8.7-p334@nzffa/gems/sass-3.1.15/rails/../lib/sass/../sass/engine.rb:474:in `append_children'
/Users/craig/.rvm/gems/ruby-1.8.7-p334@nzffa/gems/sass-3.1.15/rails/../lib/sass/../sass/engine.rb:473:in `each'
/Users/craig/.rvm/gems/ruby-1.8.7-p334@nzffa/gems/sass-3.1.15/rails/../lib/sass/../sass/engine.rb:473:in `append_children'
/Users/craig/.rvm/gems/ruby-1.8.7-p334@nzffa/gems/sass-3.1.15/rails/../lib/sass/../sass/engine.rb:464:in `build_tree'
/Users/craig/.rvm/gems/ruby-1.8.7-p334@nzffa/gems/sass-3.1.15/rails/../lib/sass/../sass/engine.rb:457:in `each'
/Users/craig/.rvm/gems/ruby-1.8.7-p334@nzffa/gems/sass-3.1.15/rails/../lib/sass/../sass/engine.rb:457:in `build_tree'
/Users/craig/.rvm/gems/ruby-1.8.7-p334@nzffa/gems/sass-3.1.15/rails/../lib/sass/../sass/engine.rb:474:in `append_children'
/Users/craig/.rvm/gems/ruby-1.8.7-p334@nzffa/gems/sass-3.1.15/rails/../lib/sass/../sass/engine.rb:473:in `each'
/Users/craig/.rvm/gems/ruby-1.8.7-p334@nzffa/gems/sass-3.1.15/rails/../lib/sass/../sass/engine.rb:473:in `append_children'
/Users/craig/.rvm/gems/ruby-1.8.7-p334@nzffa/gems/sass-3.1.15/rails/../lib/sass/../sass/engine.rb:329:in `_to_tree'
/Users/craig/.rvm/gems/ruby-1.8.7-p334@nzffa/gems/sass-3.1.15/rails/../lib/sass/../sass/engine.rb:299:in `_render'
/Users/craig/.rvm/gems/ruby-1.8.7-p334@nzffa/gems/sass-3.1.15/rails/../lib/sass/../sass/engine.rb:247:in `render'
/Users/craig/.rvm/gems/ruby-1.8.7-p334@nzffa/gems/sass-3.1.15/rails/../lib/sass/../sass/util.rb:310:in `silence_sass_warnings'
/Users/craig/.rvm/gems/ruby-1.8.7-p334@nzffa/gems/sass-3.1.15/rails/../lib/sass/../sass/engine.rb:247:in `render'
/Users/craig/.rvm/gems/ruby-1.8.7-p334@nzffa/gems/sass-3.1.15/rails/../lib/sass/../sass/plugin/compiler.rb:339:in `update_stylesheet'
/Users/craig/.rvm/gems/ruby-1.8.7-p334@nzffa/gems/sass-3.1.15/rails/../lib/sass/../sass/plugin/compiler.rb:202:in `update_stylesheets'
/Users/craig/.rvm/gems/ruby-1.8.7-p334@nzffa/gems/sass-3.1.15/rails/../lib/sass/../sass/plugin/compiler.rb:200:in `each'
/Users/craig/.rvm/gems/ruby-1.8.7-p334@nzffa/gems/sass-3.1.15/rails/../lib/sass/../sass/plugin/compiler.rb:200:in `update_stylesheets'
/Users/craig/.rvm/gems/ruby-1.8.7-p334@nzffa/gems/sass-3.1.15/rails/../lib/sass/../sass/plugin.rb:81:in `update_stylesheets'
/Users/craig/.rvm/gems/ruby-1.8.7-p334@nzffa/gems/sass-3.1.15/rails/../lib/sass/../sass/plugin.rb:54:in `check_for_updates'
/Users/craig/.rvm/gems/ruby-1.8.7-p334@nzffa/gems/sass-3.1.15/rails/../lib/sass/../sass/plugin/rack.rb:51:in `call'
/Users/craig/.rvm/gems/ruby-1.8.7-p334@nzffa/gems/rack-cache-1.0.3/lib/rack/cache/context.rb:132:in `forward'
/Users/craig/.rvm/gems/ruby-1.8.7-p334@nzffa/gems/rack-cache-1.0.3/lib/rack/cache/context.rb:243:in `fetch'
/Users/craig/.rvm/gems/ruby-1.8.7-p334@nzffa/gems/rack-cache-1.0.3/lib/rack/cache/context.rb:181:in `lookup'
/Users/craig/.rvm/gems/ruby-1.8.7-p334@nzffa/gems/rack-cache-1.0.3/lib/rack/cache/context.rb:65:in `call!'
/Users/craig/.rvm/gems/ruby-1.8.7-p334@nzffa/gems/rack-cache-1.0.3/lib/rack/cache/context.rb:50:in `call'
/Users/craig/.rvm/gems/ruby-1.8.7-p334@nzffa/gems/actionpack-2.3.14/lib/action_controller/string_coercion.rb:25:in `call'
/Users/craig/.rvm/gems/ruby-1.8.7-p334@nzffa/gems/rack-1.1.3/lib/rack/head.rb:9:in `call'
/Users/craig/.rvm/gems/ruby-1.8.7-p334@nzffa/gems/rack-1.1.3/lib/rack/methodoverride.rb:24:in `call'
/Users/craig/.rvm/gems/ruby-1.8.7-p334@nzffa/gems/actionpack-2.3.14/lib/action_controller/params_parser.rb:15:in `call'
/Users/craig/.rvm/gems/ruby-1.8.7-p334@nzffa/gems/actionpack-2.3.14/lib/action_controller/session/cookie_store.rb:99:in `call'
/Users/craig/.rvm/gems/ruby-1.8.7-p334@nzffa/gems/actionpack-2.3.14/lib/action_controller/failsafe.rb:26:in `call'
/Users/craig/.rvm/gems/ruby-1.8.7-p334@nzffa/gems/rack-1.1.3/lib/rack/lock.rb:11:in `call'
/Users/craig/.rvm/gems/ruby-1.8.7-p334@nzffa/gems/rack-1.1.3/lib/rack/lock.rb:11:in `synchronize'
/Users/craig/.rvm/gems/ruby-1.8.7-p334@nzffa/gems/rack-1.1.3/lib/rack/lock.rb:11:in `call'
/Users/craig/.rvm/gems/ruby-1.8.7-p334@nzffa/gems/actionpack-2.3.14/lib/action_controller/dispatcher.rb:114:in `call'
/Users/craig/.rvm/gems/ruby-1.8.7-p334@nzffa/gems/actionpack-2.3.14/lib/action_controller/reloader.rb:34:in `run'
/Users/craig/.rvm/gems/ruby-1.8.7-p334@nzffa/gems/actionpack-2.3.14/lib/action_controller/dispatcher.rb:108:in `call'
/Users/craig/Library/Application Support/Pow/Versions/0.3.2/node_modules/nack/lib/nack/server.rb:146:in `handle'
/Users/craig/Library/Application Support/Pow/Versions/0.3.2/node_modules/nack/lib/nack/server.rb:99:in `start'
/Users/craig/Library/Application Support/Pow/Versions/0.3.2/node_modules/nack/lib/nack/server.rb:86:in `each'
/Users/craig/Library/Application Support/Pow/Versions/0.3.2/node_modules/nack/lib/nack/server.rb:86:in `start'
/Users/craig/Library/Application Support/Pow/Versions/0.3.2/node_modules/nack/lib/nack/server.rb:66:in `loop'
/Users/craig/Library/Application Support/Pow/Versions/0.3.2/node_modules/nack/lib/nack/server.rb:66:in `start'
/Users/craig/Library/Application Support/Pow/Versions/0.3.2/node_modules/nack/lib/nack/server.rb:13:in `run'
/Users/craig/Library/Application Support/Pow/Versions/0.3.2/node_modules/nack/bin/nack_worker:4
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"none\": expected expression (e.g. 1px, bold), was \";\"\A         on line 299 of /Users/craig/development/nzffa/public/stylesheets/sass/reader.sass\A \A 294:   color: #c00\A 295:   font-size: 150%\A 296:   text-align: center\A 297: \A 298: a.group_link\A 299:   text-decoration: none;\A 300: \A 301: .group_tag\A 302:   padding: 2px 12px;\A 303:   border-radius: 3px;\A 304:   -moz-border-radius: 3px;"; }
