# encoding: utf-8

##
# Backup Generated: nzffa_backup
# Once configured, you can run the backup with the following command:
#
# $ backup perform -t app_backup [-c <path_to_configuration_file>]
#
Backup::Model.new(:app_backup, 'Backup database and filestystem images for NZFFA website') do
  ##
  # Split [Splitter]
  #
  # Split the backup file in to chunks of 250 megabytes
  # if the backup file size exceeds 250 megabytes
  #
  split_into_chunks_of 250

  ##
  # MySQL [Database]
  #
  database MySQL do |db|
    # To dump all databases, set `db.name = :all` (or leave blank)
    db.name               = "nzffa_development"
    db.username           = "root"
    db.host               = "localhost"
    # db.port               = 3306
    # db.socket             = "/tmp/mysql.sock"
    # Note: when using `skip_tables` with the `db.name = :all` option,
    # table names should be prefixed with a database name.
    # e.g. ["db_name.table_to_skip", ...]
    #db.skip_tables        = ["skip", "these", "tables"]
    #db.only_tables        = ["only", "these" "tables"]
    db.additional_options = ["--quick", "--single-transaction"]
    # Optional: Use to set the location of this utility
    #   if it cannot be found by name in your $PATH
    # db.mysqldump_utility = "/opt/local/bin/mysqldump"
  end
  
  #archive :uploaded_assets do |archive|
  #  archive.add '/home/nzffa/production/shared/public'
  #  archive.add '/home/nzffa/production/shared/config'
  #end  

  store_with S3 do |s3|
    s3.access_key_id      = 'TODO'
    s3.secret_access_key  = 'TODO'
    s3.region             = 'us-west-1'
    s3.bucket             = 'nzffa'
    s3.path               = '/development'
    s3.keep               = 10
  end

  sync_with Cloud::S3 do |s3|
    s3.access_key_id      = 'TODO'
    s3.secret_access_key  = 'TODO'
    s3.region             = 'us-west-1'
    s3.bucket             = 'nzffa'
    s3.path               = '/development/assets'
    s3.mirror            = true
    s3.concurrency_type  = :threads
    s3.concurrency_level = 50

    s3.directories do |directory|
      directory.add '/Users/craig/development/nzffa/public/system/assets'
      # directory.add '/home/nzffa/production/shared/public'
      # directory.add '/home/nzffa/production/shared/config'
    end
  end
  ##
  # Gzip [Compressor]
  #
  compress_with Gzip

end
